{% extends "layout.html" %}
{% block heading %}
About Ann's Mensa Tracker
{% endblock %}

{% block content %}

  <div class="row row-paragraph">
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
      It's <b>3 in the morning.</b>  You stare at the ceiling and
      replay the events of the last few days for the hundredth time.  </div></div>

  <div class="row row-paragraph">
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
      On Monday, the Hauptgericht in the Mensa was the Französiche
      Gemüse Auflauf.
      Tuesday was Spaghetti Bolognese.
      And yesterday was Kaiserschmarrn Apfelkompott Vanillesauce -- <b>your favorite.</b>
      But somehow, in the midst of your studies at the Universität Oldenburg,
      you completely forgot about <b>one of the most important, primal
      human rituals: Lunch in the Mensa.</b></div></div>

  <div class="row row-paragraph">
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
      You didn't completely forget to eat.
      You brought a PB&J sandwich in a paper bag, or you quickly grabbed a belegtes Brötchen
      from the Cafeteria as you rushed from one Veranstaltung to the next.
      But if you're being honest with yourself, <b>that's not lunch.  It's just
      a bite to eat.</b>  It doesn't compare to the deep satisfaction that your
      favorite foods in the Mensa would bring you.</div></div>

  <div class="row row-paragraph">
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
      You ask yourself, <b>where did it all go wrong?</b>
      How did you miss out on all of these <b>delicious foods?</b>
      How can you <b>make sure that this never, ever happens again?</b></div></div>

  <div class="row row-paragraph">
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
      I've got three words for you, my friend.  <b>Ann's Mensa Tracker.</b>
    </div></div>

  <hr>
  <div class="heading">About the Author</div>

  <div class="row row-paragraph">
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
      Hi! I'm Ann Yanich.  I study computer science at the Universität Oldenburg.
      This website is a personal project of mine.</div></div>
  <div class="row row-gutter">
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
      <p>
        I make no guarantee of the correctness or completeness of the data presented here.<br>
        <a href="http://www.studentenwerk-oldenburg.de/de/gastronomie/speiseplaene.html">
          Click here to see the official menu plan of the Mensa.</a>
      </p>
    </div>
  </div>

{% endblock %}