{% extends "layout.html" %}
{% block content %}
    <h1>About Ann's Mensa Tracker</h1>
    <p>
        Hi! I'm Ann Yanich.  I study computer science at the Universität Oldenburg.
        This website is a side project of mine.
    </p>
    <p>
        I make no guarantee of the correctness or completeness of the data presented here.<br>
        <a href="http://www.studentenwerk-oldenburg.de/de/gastronomie/speiseplaene.html">
        Click here to see the official menu plan of the Mensa.</a>
    </p>
{% endblock %}