{% extends "layout.html" %}
{% block content %}
    <h1>About Ann's Mensa Tracker</h1>
    <p>
        Hi! I'm Ann Yanich.  I study computer science at the Universität Oldenburg.
        This website is a side project of mine. <br>
        If you <a href="{{ url_for('oauth_authorize', provider='facebook') }}">
        log in</a>, you can sign up to receive email notifications
        when dishes matching your search criteria appear on the
        <a href="http://www.studentenwerk-oldenburg.de/de/gastronomie/speiseplaene.html">
        menu of my university's Mensa.</a>.
    </p>
    <p>
        I make no guarantee of the correctness or completeness of the data presented here.<br>
        <a href="http://www.studentenwerk-oldenburg.de/de/gastronomie/speiseplaene.html">
        Click here to see the official menu plan of the Mensa.</a>
    </p>
{% endblock %}