<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Ann's Mensa Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/datatables/datatables.css" rel="stylesheet" type="text/css"/>

    <!--Moment.js library for formatting dates and times nicely-->
    <script src="../static/js/moment.min.js"></script>



  </head>

  <body>
    <!-- BEGIN site/header -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header pull-left">
          <div class="navbar-brand">Ann's Mensa Tracker</div>
        </div>

        <!--Non-collapsable navbar elements-->
        <div class="navbar-header pull-right">
          <ul class="nav navbar-nav pull-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% else %}
            <li><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></li>
            {% endif %}
          </ul>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!--Collapsable navbar elements-->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('mensa_history') }}">Menu Data</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="mailto:ann.yanich@gmail.com">Contact</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="#">Logged in as {{ current_user.nickname }}</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        <h1>Welcome to Ann's Mensa Tracker</h1>
        <p>Ann's Mensa Tracker can send you emails when your favorite dishes show
            up on the menu in your university's Mensa.</p>

      {% for message in get_flashed_messages() %}
        <p><b>Alert</b>: {{ message }}</p>
      {% endfor %}

          {% if current_user.is_authenticated %}
        <p>
          {% if current_user.email == None %}
            Notice: We use your email address to send email alerts to you.
              If you would like to receive them,
            <a href="{{ url_for('oauth_rerequest_permissions') }}">give us permission to see your email address.</a>
          {% else %}
            Your registered email address is {{ current_user.email }}.<br>
            <a href="{{ url_for('delete_email_address') }}">To remove your email address, click here.</a>
            To change it, change your primary email address on Facebook.
          {% endif %}
          </p>

      {% endif %}


          <div class="row">
        <div class="col-sm-12">
            Type in part of the name of a dish you like to see
            a list of items that it would match.  </div></div> <br />
          <div class="row">
            <div class="col-sm-12">
                <form name="testsearch" action="/add_search" method="POST">
                    <input type="text" name="search_terms" id="search_terms"
                           placeholder="Search terms" autocomplete="off" />
                    <input type="submit" value="Save Search" />
                </form></div></div> <br/>

          <div class="row">
          <div class="col-sm-7">
              <span id="searchresults-placeholder" style="white-space: pre;"></span>
              <table id="menu_entries" class="table table-striped">
                <thead><tr>
                    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Date</th>
                    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Mensa</th>
                    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Category</th>
                    <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Item description</th>
                </tr></thead>
                <tbody>
            </tbody></table>
          </div>

              <div class="col-sm-5">
          {% if current_user.is_authenticated and current_user.searches.all() %}
            <h4>Here are your saved searches:</h4> <br/>
              {% else %}
              <h4>Your saved searches will appear below.</h4>
              {% endif %}
            <table class="table table-striped table-bordered table-condensed table-vcenter">
              <thead><tr>
                  <th>Search terms</th>
                  <th>Date created</th>
                  <th class="text-center">Actions</th>
                </tr></thead>
              <tbody>
              {% if current_user.is_authenticated %}
                {% for search in current_user.searches.all() %}
                  <tr>
                    <td>"{{ search.search_terms }}"</td>
                    <td>{{ Momentjs(search.timestamp).format("LLL") }}</td>
                    <td><form action="/savedsearches/{{ search.id }}/delete" method="POST">
                        <button class="btn btn-md btn-danger" type="submit" value="Delete">Delete</button>
                      </form>
                    <form action="javascript:setSearchTerms('{{ search.search_terms }}'); runSearch();">
                        <button class="btn btn-md btn-default" type="submit" value="Test search">Test</button>
                    </form></td></tr>
                {% endfor %} {% endif %}
              </tbody>
            </table>
              </div>


          </div>
{#          <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>#}
    </div>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script>window.jQuery || document.write('<script src="../static/bootstrap-3.3.6-src/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
{#    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>#}

    <script src="../static/datatables/datatables.js"></script>
    <script src="../static/js/datetime-moment.js"></script>

     <script>
         var table;
         $(document).ready(function() {
             // Use datetime-moment.js to help us sort these dates properly
          $.fn.dataTable.moment('DD.MM.YYYY');

          table = $('#menu_entries').DataTable( {
              "order": [[0, "desc"]],
              "searching": false,
              "pageLength": 5,
              "lengthChange": false
          });

         } );

         function setSearchTerms(terms) {
             document.testsearch.search_terms.value = terms;
         }

        function runSearch() {
            var terms = document.testsearch.search_terms.value;
            if (terms == "") {
                return; // Don't run the search with empty search terms
            }
            jQuery.post('/test_search', {
                search_terms: terms
            }).done(function(results) {
                document.getElementById('searchresults-placeholder').textContent = "";
                table.clear();
                table.page('first').draw(false);
                $.each(results, function (key, data) {
                    table.row.add( [
                        data['date_valid'],
                        data['mensa'],
                        data['category'],
                        data['description']
                    ]).draw(false);
                })
            }).fail(function(error) {
                document.getElementById('searchresults-placeholder').textContent =
                    "We seem to be having trouble running your search.  " +
                    "Try refreshing the page.";
            })
        }

        function makeDelay(ms) {
          var timer = 0;
          return function(callback){
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
          };
        };

        {#   Only run the search after the user stops typing for a second.
             This prevents excessive server load.  #}
        var debounce = makeDelay(750);

        $("#search_terms").keyup(function(){
            debounce(runSearch);
        });

        </script>

  </body>
</html>
