{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to Ann's Mensa Tracker</h1>
    <p>Never miss your favorite foods in the Mensa again!
      Enter their names here, and I will send you an email the night before
      when they're going to be on the menu.

    {% if current_user.is_authenticated %}
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center saved-searches-header" id="saved_searches_table_header">
              You will get alerts for dishes that match the following search terms:
          </div>

          <table class="table table-vcenter saved-searches"
                 id="saved_searches_table">
            <thead><tr>
              <th class="hidden">Search ID</th>
              <th>Search terms</th>
              <th></th>
            </tr></thead>

            <tbody>
              {% for search in current_user.searches.all() %}
                <tr>
                  <td>saved_search_{{ search.id }}</td>
                  <td width="100%">"{{ search.search_terms }}"</td>
                  <td><div class="btn-group">
                      <a href="javascript:setSearchTerms('{{ search.search_terms }}'); runSearch();"
                          class="btn btn-md btn-default">Test search</a>
                      <a href="javascript:deleteSearch({{ search.id }})"
                         class="btn btn-md btn-danger">Delete</a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    {% endif %}

    <br/>
    <div class="row" id="search-box">
      <div class="col-sm-12">
        <form name="testsearch" action="javascript:runSearch()">
          <label class="control-label" for="search_terms">
            Try searching for a dish or an ingredient.</label>
          <input type="text" name="search_terms" id="search_terms"
                 placeholder="e.g. Bolognese, Spinat, Vanillesauce"
                 autocomplete="off" class="form-control"/>
        </form>
      </div>
    </div>
    <br/>

    <span id="search_results_placeholder"></span>
    <div id="search_results_container" class="hide-by-default">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center"><h4><span id="search_results_header">Search results</span></h4></div>
          <table id="search_results_table" class="table table-striped">
            <thead><tr>
              <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Date</th>
              <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Mensa</th>
              <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Category</th>
              <th class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Item description</th>
            </tr></thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-sm-12">
          {% if current_user.is_authenticated %}
          <a href="javascript:saveSearchFromForm()" class="btn btn-primary btn-lg btn-block">
            Subscribe to alerts for this search</a>
          {% else %}
          <a href="javascript:redirectToFacebook()"
             class="btn btn-primary btn-lg btn-block">
            Log in with Facebook to subscribe to alerts for this search</a>
          {% endif %}
        </div>
      </div>

    </div>  <!--End search results-->

    <br/>

    {% if current_user.is_authenticated %}
      <div class="row"><div class="col-sm-12">
        You're logged in as {{ current_user.nickname }}.
        <p>
          {% if current_user.email == None %}
            If you would like to receive email alerts,
            <a href="{{ url_for('oauth_rerequest_permissions') }}">grant us permission here.</a>
          {% else %}
            You will get email alerts at {{ current_user.email }}.
            <a href="{{ url_for('delete_email_address') }}">Click here to remove your email address.</a>
          {% endif %}
        </p>
        <p><a href="{{ url_for('logout') }}">Log out</a></p>
      </div></div>
    {% endif %}

{% endblock %}  <!--End main body container-->


{% block scripts %}

    <script src="../static/datatables/datatables.min.js"></script>
    <script src="../static/js/datetime-moment.js"></script>

    <!--Custom code using jQuery to run searches and save/delete subscriptions-->
    <script>
       var table;

       var saved_searches_datatable;

       $(document).ready(function() {
          window.history.replaceState({}, "", "/");  // Clean up URL in address bar

          // Initialize DataTables to display subscriptions and search results
          // Use datetime-moment.js to sort menu entries by date properly
          $.fn.dataTable.moment('DD.MM.YYYY');

          table = $('#search_results_table').DataTable( {
              "order": [[0, "desc"]],
              "columnDefs": [
                { "orderable": false, "targets": 3 } // No sorting by description
                ],
              "searching": false,
              "pageLength": 5,
              "lengthChange": false,
              "lengthMenu": [[5, -1], ['5', 'All']],
              "fnInitComplete": function() {
                  hideSearchResults();  // Hide the table by default
              },
              "drawCallback": function() {
                  // Hide pagination controls unless there is more than one page
                  var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                  pagination.toggle(this.api().page.info().pages > 1);
              },
              "language": {
                  "emptyTable": "No search results found.",
                  "info": "_START_ to _END_ of _TOTAL_ results",
                  "infoEmpty": "",  // Hide "0 to 0 of 0 results"
                  "lengthMenu": "Show _MENU_ results"
              }
          });

          saved_searches_datatable = $('#saved_searches_table').DataTable( {
              "info": false,
              "ordering": false,
              "searching": false,
              "pageLength": 25,
              "lengthChange": false,
              "columnDefs": [
                  // Hide the search ID
                  { "visible": false, "targets": 0 },
                  // Center the "Delete search" and "Test search" buttons
                  { "className": "text-center", "targets": 2 }
              ],
              "drawCallback": function() {
                  // Hide pagination controls unless there is more than one page
                  var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                  pagination.toggle(this.api().page.info().pages > 1);
              }
          });

          // If the page is called with /?search_terms=Spinat, then this will
          // automatically save that search.  This is useful for our login flow,
          // in which we have Facebook redirect a user back to this URL
          // after logging in.
           {% if search_terms_url_param %}
               saveSearch("{{ search_terms_url_param }}");
           {% endif %}

          if (saved_searches_datatable.rows().count() == 0) {
              hideSavedSearches();
          }

       } );  // End $('document').ready()

       function deleteSearch(search_id) {
          jQuery.post('/savedsearches/' + search_id + '/delete', {
              'search_id': search_id
          }).done(function(results) {
              if (results['status'] == 'success') {
                  // Delete the row corresponding to the search that was deleted
                  saved_searches_datatable.row(function(rowIndex, rowData, rowNode) {
                      return rowData[0] == ("saved_search_" + results['search_id']);
                  }).remove().draw(false);

                  // If there are no more saved searches to show, don't show the table any more.
                  if (saved_searches_datatable.rows().count() == 0) {
                      hideSavedSearches();
                  }

              } else if (results['status'] == 'failed') {
                  alert(results['reason'])
              }
          }).fail(function(error) {
              alert("Error communicating with the server.  Try refreshing the page.");
          })
       }

       function saveSearch(search_terms) {
           if (search_terms == "") {
               alert("Please enter some search terms.");
               return;
           }

           jQuery.post('/add_search', {
               search_terms: search_terms
           }).done(function(results) {
               if (results['status'] == 'success') {
                  saved_searches_datatable.row.add([
                      "saved_search_" + results['search_id'],
                      '"' + search_terms + '"',
                      buttons_for_search(search_terms, results['search_id'])
                  ]).draw(false);
                  showSavedSearches();
                  scroll_to_div($('#saved_searches_table_header'))

               } else if (results['status'] == 'failed') {
                   alert(results['reason']);
               } else {
                   alert("Received unknown status from server: " + status);
               }
           }).fail(function(error) {
               alert("Error communicating with the server.  Try refreshing the page.");
           })
       }

       function saveSearchFromForm() {
           saveSearch(getSearchTerms().trim());
       }


      function runSearch() {
          var terms = getSearchTerms().trim();
          if (terms == "") {
              return;
          }
          jQuery.post('/test_search', {
              search_terms: terms
          }).done(function(results) {
              document.getElementById('search_results_placeholder').textContent = "";
              table.clear();
              table.page('first');
              $.each(results, function (key, data) {
                  table.row.add( [
                      data['date_valid'],
                      data['mensa'],
                      data['category'],
                      data['description']
                  ])
              });
              table.draw(false);
              showSearchResults();
          }).fail(function(error) {
              document.getElementById('search_results_placeholder').textContent =
                  "We seem to be having trouble running your search.  " +
                  "Try refreshing the page.";
          });
          scroll_to_div($('#search-box'));
      }

      function redirectToFacebook() {
           window.location.href = "{{ url_for('oauth_authorize', provider='facebook') }}&search_terms_to_save=" + getSearchTerms();
      }

       function hideSavedSearches() {
           $('#saved_searches_table_header').text("(Your saved searches will be listed here.)");
           $('#saved_searches_table').hide();
       }

       function showSavedSearches() {
           $('#saved_searches_table_header').text("You will get alerts for dishes that match the following search terms:");
           $('#saved_searches_table').show()
       }

       function hideSearchResults() {
           $('#search_results_container').hide();
       }

       function showSearchResults() {
           $('#search_results_header').text("Search results for \"" + getSearchTerms() + "\"");
           $('#search_results_container').show();
       }

       function scroll_to_div(div) {
          $('html, body').animate({
            scrollTop: div.offset().top
          },1000);
        }


       function getSearchTerms() {
           return document.testsearch.search_terms.value;
       }

       function setSearchTerms(terms) {
           document.testsearch.search_terms.value = terms;
       }


       function buttons_for_search(search_terms, search_id) {
           var html = '<div class="btn-group">';
           html += "<a href=\"javascript:setSearchTerms('" + search_terms + "'); runSearch();\"";
           html += "class=\"btn btn-md btn-default\" value=\"Test search\">Test search</a>";
           html += "<a href=\"javascript:deleteSearch(" + search_id + ")\"";
           html += "class=\"btn btn-md btn-danger\" value=\"Delete\">Delete</a>";
           html += "</div>";
           return html;
       }

      function makeDelay(ms) {
          var timer = 0;
          return function(callback){
              clearTimeout(timer);
              timer = setTimeout(callback, ms);
          };
      }

      {#   Only run the search after the user stops typing for 500 ms.
           This prevents excessive server load.  #}
      var debounce = makeDelay(500);

      $("#search_terms").keyup(function(){
          debounce(runSearch);
      });

    </script>

{% endblock %}