{% extends "layout.html" %}

{% block content %}
    <h1>Menu Data</h1>

    <p>Here's the data that I use when sending out alerts.
      I make no guarantee of its correctness or completeness.
     <br>
      <a href="http://www.studentenwerk-oldenburg.de/de/gastronomie/speiseplaene.html">
      Click here to see the official menu of the Mensa.</a> </p>

    <table id="menu_entries" class="table table-striped">
        <thead><tr>
            <th class="col-sm-2">Date</th>
            <th class="col-sm-2">Mensa</th>
            <th class="col-sm-2">Category</th>
            <th class="col-sm-3">Item description</th>
            <th class="col-sm-2">Allergens</th>
            <th class="col-sm-1">Price</th>
        </tr></thead>
        <tbody>
        <!--menu_entries is passed into the template as an argument in views.py-->
        {% for item in menu_entries %}
        <tr>
            <td class="col-sm-2">{{ item.date_valid }}</td>
            <td class="col-sm-2">{{ item.mensa }}</td>
            <td class="col-sm-2">{{ item.category }}</td>
            <td class="col-sm-4">{{ item.description }}</td>
            <td class="col-sm-2">{{ item.allergens }}</td>
            <td class="col-sm-1">{{ currency(item.price/100) }}</td>
        </tr>
        {% endfor %}
    </tbody></table>
{% endblock %}


{% block scripts %}
    <script src="../static/datatables/datatables.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          var table = $('#menu_entries').DataTable( {
              "order": [[0, "desc"]]
          });

      } );</script>
{% endblock %}