.navbar-brand { padding: 0 10px 0 10px; }

.sprache { padding-top: 15px; margin-left: 5px; }
.sozial { padding-top: 7px; }

#menu {
	height: 50px;
	margin: 0 auto 1px auto;
}

.page-header {
	clear: both;
	padding-bottom: 0;
}

#content .row {
	margin-left: 0;
}

h5 { font-weight: 900; }

.module.direktlinks ul li a {
	padding: 5px;
	margin: 0;
}

.ahitem .teaser span:last-child {
	word-wrap: normal;
	text-align: center;
}

.article-index .nav > li > a {
    padding: 2px;
    position: static;
    line-height: 105%;
}

.article-index {
    max-width: 33%;
    margin: 5px 0 0 2px;
    padding: 0;
    clear: both;
    border-radius: 3px;
    padding: 0 4px 4px 4px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    min-height: 20px;
}

.article-index ul.nav {
	border: 0;
}

.article-index ul.nav li {
	font-size: 80%;
}

.article-index ul.nav li:last-of-type {
	text-align: right;
}


.article-index > h3 {
	text-decoration: underline;
	font-size: 110%;
}

@media (min-width: 992px) {
body { padding-top: 50px; }
}

@media (min-width: 1212px) {
#menu { 	padding: 0 10% 1px 10%; }
}

@media (max-width: 1620px) {

.right-oben { display: none; }
.header-tools { display: block; clear: both; }

}

@media (min-width: 1621px) {

.right-oben { display: block; }
.header-tools { display: none; }

}


.tree ul {
	padding-left: 18px;
}

.img-thumbnail img {
	margin-bottom: 0 !important;
	margin-right: 0 !important;	
}

div.ja-tabs-title-top ul.ja-tabs-title {
	position: relative !important;
}

.kontakt {
	color: white;
	text-align: center;
}

.icons div.btn-group { margin: 5px 5px 3px 5px; display: block !important; }

.kontakt div {
	width: 25%;
}

.blau-oben {
	background: url(../images/headergradient.png) #4271B0 0 0 repeat-x;
	background-size: contain;
}

.blau-oben .container {
	padding-left: 0;
	padding-right: 0;
}

.blau-unten {
	padding-left: 0;
	padding-right: 0;	
}

.footer1 .container {
	background-color: #4271B0;
}

.nav-zentriert {
    width: 100%;
    text-align: center;
}

.nav-zentriert > li {
      float: none;
      display: inline-block;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
}

.kontakt div a img {
	margin-top: 20px;
	background-color: white;
}

.blog_more  {
	margin: 10px 0; }

.blog_more strong  {
	margin: 0 0 5px;
	padding-left: 13px;
	display: block;
	color: #606060;
	text-transform: uppercase; }

td.buttonheading  {
	padding: 0 0 0 3px!important; }

.clr  {
	clear: both; }

td {
padding-left:0px;
padding-right:5px;
padding-bottom:5px;}
	
input[type="radio"] {
margin-left:0px;}	
	
.componentheading  {
	font-size: 18px;
	line-height:23px;
	padding-bottom:14px;
	font-weight:normal; }

.contentheading  {
	font-size:16px;
	text-shadow:1px 1px #ffffff;
	font-weight:normal;
	color:#454545;
	line-height:normal; }

a.contentpagetitle  {
	text-decoration: none!important;
	font-size:16px;
	text-shadow:1px 1px #ffffff;
	color: #454545; }

a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus  {
	text-decoration: none!important;
	color: #000000; }



.moduletable  {
	padding: 0; }

.mosimage  {
	padding: 0;
	border:1px solid #CCCCCC;
	background:#ffffff;
	margin:6px;	}

.mosimage img  {
	padding: 0;
	margin: 0!important; }

	
.mosimage_caption {
	background:#EFEFEF none repeat scroll 0%;
	border-top:1px solid #CCCCCC;
	color:#666666;
	font-size:10px;
	margin-top:2px;
	padding:1px 2px;}

.sectiontableheader  {
	border-bottom:1px dotted #cccccc;
	color:#000000;
	font-weight:bold;
	padding:5px 0; }

tr.sectiontableentry1 td  {
	padding: 5px; }

tr.sectiontableentry2 td  {
	padding: 5px; }

#mainbody .small  {
	font-size:11px;
	font-style:italic;
	color:#333333;}

.smalldark  {
	text-align: left; }

div.syndicate div  {
	text-align: center; }

/* Typography
--------------------------------------------------------- */	

img.solid {
	border:1px solid #999999;
	margin:5px 0pt 2px 2px;
	padding:1px; }
	
img.dashed {
	border:1px #999999 dashed;
	margin:5px 0pt 2px 2px;
	padding:1px; }

	
.introletter {
	color:#000000;
	display:block;
	float:left;
	font-size:40px;
	font-style:normal;
	font-weight:normal;
	line-height:30px;
	padding:4px 8px 0pt 0pt; }
	
blockquote {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.3em;
	font-style:italic;
	font-weight:normal;
	line-height:1.5;
	padding:6px 45px; }
	

/* alte CSS */

body {
	color:#4A4A4A;
}
	
body.contentpane, body.mceContentBody {
	color:#000000;
	font-size:12px;
	background:#FFFFFF; 
	}
	
/* Normal link */
a  {
	text-decoration: none;
	color:#456896; }
a:hover, a:focus  {
	color:#000000;
}

img, fieldset  { border:none; }

h1  { font-size: 18px;
	line-height:26px;
	font-weight:normal; 
	margin:0;
	padding:0;}

ul.arrow{list-style-type:none;}
ul.arrow  li {background-image: url(../images/arrow.png);
background-repeat: no-repeat;
background-position: 0 .5em;
	margin-left:0px;
	padding-left: 10px;
	font-size:0.9em;
	}
	
	
	ul.left {
		padding-left: 10px;
		margin: 0px;
	}
	
	ul.bilder {
		list-style-type:none;
	}
	


.blog > h2, h2 .subheading-category, .categories-list h1  {
	/*border-bottom:dotted 4px #163d8f;*/
	border-bottom:solid 2px #ccc;
	font-size: 22px;
	line-height:26px;
	padding-bottom:6px;
	margin-bottom:5px;
	font-weight:normal; }

h2 .subheading-category  {
	margin-bottom: 10px;	
}

div.page-header { 
	border-bottom:dotted 2px #163d8f;
	margin-top: 0;
}

.sectiontableheader  {
	border-bottom:1px dotted #cccccc;
	color:#000000;
	font-weight:bold;
	padding:5px 0; }
	
	
tr.cat-list-row0 td  {
	padding: 5px; 
	}

/* Typography
--------------------------------------------------------- */	

img.solid {
	border:1px solid #999999;
	margin:5px 0pt 2px 2px;
	padding:1px; }
	
img.dashed {
	border:1px #999999 dashed;
	margin:5px 0pt 2px 2px;
	padding:1px; }

	
.introletter {
	color:#000000;
	display:block;
	float:left;
	font-size:40px;
	font-style:normal;
	font-weight:normal;
	line-height:30px;
	padding:4px 8px 0pt 0pt; }
	
blockquote {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.3em;
	font-style:italic;
	font-weight:normal;
	line-height:1.5;
	padding:6px 45px; }
	


.acysubbuttons {
text-align:left;}

#user_name_formAcymailing1, #user_email_formAcymailing1 {
	border:none;
	width:226px;
	height:18px;
	margin-bottom:10px;
	font-size:12px;
	padding-left:10px;
	background:transparent url(../images/acymailing_inputback.png) center no-repeat; }

#user_name_formAcymailing1 {
	margin-top:13px;}



   /* Custom-CSS:*/

.Kasten{ 
	width: 100%;
	margin-bottom: 15px;
	background-color:white;	
	border-top:dotted 2px #163d8f;
	-moz-box-shadow:4px 4px 4px #888;
	 -webkit-box-shadow:4px 4px 4px #888;
	 box-shadow:4px 4px 4px #888;
	padding: 10px 5px 10px 5px;
	word-wrap: break-word;
	clear: both;
}

.Kasten_img { width: 20%; float: left; }
.Kasten_content{ float: left; width: 60%; padding: 0 5px 0 5px; }
.Kasten_links{ float: left; width: 20%; }

.Kasten_links ul { 
	margin:0;
	padding:0;
	list-style-image: url(../images/arrow.png);
	list-style-position: inside;
}

.Kasten_startseite{
	margin-bottom: 10px;
}

.Kasten_startseite_img {
	width: 25%;
	float: left;
}

.Kasten_startseite_content {
	float: left;
	width: 75%;
}



	
	
	
	

.red_box {
	background-color: #FFD6D6;
	border-top:solid 1px #EF706F;
	border-bottom:solid 1px #EF706F;
	color:#4A4A4A;
	padding:8px 13px 8px 40px;
	margin:3px 0 3px 0px;
}

.red_box  ul{margin-left:10px;}
.blue_box  ul{margin-left:10px;}


.blue_box {
background: url(../images/info.png) no-repeat scroll 10px 50% #D0DCEC;
	border-top:solid 1px #5B95DA;
	border-bottom:solid 1px #5B95DA;
	color:#4A4A4A;
		padding:5px 13px 5px 50px;
		margin:5px 0 10px 0px;
}

.green_box {
	background:#EEF7DD;
	border-top:solid 1px #B0CB79;
	border-bottom:solid 1px #B0CB79;
	color:#4A4A4A;
	padding:13px;
}

.orange_box {
	background:#FEF6D8;
	border-top:solid 1px #FDE179;
	border-bottom:solid 1px #FDE179;
	color:#4A4A4A;
	padding:13px;
}

.yellow_box {
	background:#F4F5B9;
	border-top:solid 1px #EFF11E;
	border-bottom:solid 1px #EFF11E;
	color:#4A4A4A;
	padding:13px;
}

.gray_box {
	background:#f1f1f1;
	border-top:solid 1px #9D9D9D;
	border-bottom:solid 1px #9D9D9D;
	color:#4A4A4A;
	padding:13px;
}

.white_box {
	background:#fefefe;
	border-top:solid 1px #9D9D9D;
	border-bottom:solid 1px #9D9D9D;
	color:#4A4A4A;
	padding:8px;
}





.black_box {
	background:#333333;
	border-top:solid 1px #4D4D4D;
	border-bottom:solid 1px #4D4D4D;
	color:#FFFFFF;
	padding:13px;
}

.boxed:hover {
	cursor:pointer;
	border:2px solid #cccccc;
}


	
.boxed {
	border:2px solid #ffffff;
}

.padded {
	padding-right:10px;
	padding-bottom:10px;}



img.portfolio {
	background:#000000;
	opacity:0.7;
	padding:4px; }
	

		
	img.portfolio:hover {
		cursor:pointer;
		opacity:1; }
	
















tr.gerade {	background:#ffffff; 	
	}
	
tr.ungerade {	background:#dfdfdf; 	
	}
	
.sig_thumb{
	font-size:0.75em;
	text-shadow:0 0;
}
		
.module-facebook {
	width:300px;
	height:190px;	
	margin:10px 0px 0px 15px;
}
		
.yourmap {
	width:640px;
	height:480px;
	border:1px solid #000000;	
}
			
.map {
	border:1px solid #aaaaaa;	
}
			
#map {
	height:200px;
}
			
.yourmap1{
	width:580px;
	height:300px;
	border:1px solid #000000;	
}
			
.showplus-images {
	border:5px solid #CCCCCC;
}
				
.img_border {
		border:0px solid #cccccc;
}
				
table.flyer {
	width:100%;
	table-layout:fixed
}			
				
table.flyer td { 
	width:33%;
	padding:10px;
}
	
table.wartezeit {
	width:80%;
	layout:fixed;
}
	
table.wartezeit td {
	background:#fefefe; 
}
	
table.wartezeit td.transparent { background:transparent; }
	
table.weiss {
	border:0;
}
	
table.weiss td {
	background:#fefefe; 
}
	
.klein_fett {
	font-weight:bold;
}
		
.chronoform a {
	display:none;
}
			
td.hellblau{background:#e1e4f2}
tr.hellblau{background:#e1e4f2}
tr.hellgrau{background:#efeeee}
tr.weiss{background:#fefefe}
		
		

table.gitter {
	border-collapse: collapse;
	border-style: hidden;
}

table.gitter td {
	padding:5px;
	border: 1px solid black;
}

ul.nodot {list-style-type:none;}

table.image {
	text-align:center;
	margin-bottom:5px;
}
	
ul.eventslist { 
	padding-top:0px;
	margin-top:0px;
}
	
.fontadjust {float:right;}

table.smallfont{font-size:0.9em;}
	
.smallfont{font-size:0.9em;}
	
span.article_separator{display:none;}
	
	
.punkte {
	background:#fefefe;
	border-bottom:dotted 4px #163d8f;
	padding: 10px;
}

table.white{ background-color:#f7f7f7; }

table.alignright td{ text-align:right; }
	
.tableheading { background-color:#efeeee; }	

table.border {
border: 1px solid black;}
	
table.border td {
padding:5px;
}	

table.wechsel tr:nth-child(odd) {background:#e1e4f2;}
	
.wrapper{margin-bottom:100px;}	

.relateditemsbytags{ margin-top:10px; }
	
	
table.nopadding td{padding: 0 5px 0 5px;}	
table.nopadding1 td{padding: 0 0px 0 5px;}	
table.textshadow a{
color: #3A3A3A;
text-shadow:1px 1px #FFFFFF;}	

.fett{font-weight:bold;}
	
.handcursor     {cursor:pointer;}  	
	
 ul.relateditems{margin:5px;padding:0px 0px 0px 0px;list-style-type:none;}
 ul.relateditems li{padding:0px 0px 0px 10px;;
background-image: url(../images/arrow.png);
background-repeat: no-repeat;
background-position: 0 .5em;}
	

.speise_eintrag {
	margin-bottom: 5px;
	font-size:  0.95em;
}


#speiseplan td {
	font-size:  1.0em;
}
#Hauptbereich #fuss td {
	font-size:  1.0em;
}

table.speiseplan{
		width:100%;
		border: 1px solid black; 
		-moz-box-shadow:2px 2px 2px #888;
		 -webkit-box-shadow:4px 4px 4px #888;
		 box-shadow:4px 4px 4px #888;
}

table.speiseplan td{
background-color:#e1e4f2;
padding:2px;}


table.speiseplan td.speise_name {
	font-size: 1.0em;
	padding:0px;
}

table.speiseplan td.speise_preis {
	text-align: right;
	vertical-align: bottom;
	font-size:  0.9em;
	padding:0px;
}

#al-pasta{width:250px; margin-right:10px;margin-top:10px;}
#uweg_auswahl{width:250px; float:left; margin-right:10px;margin-top:10px;}
#culi{width:250px; float:left;margin-top:10px;}
#wechloy{width:250px; margin-right:10px; margin-bottom:10px; float:left;}
#fhol{width:250px;float:left;margin-bottom:10px;}



.shadow{
-moz-box-shadow:2px 2px 2px #888;
		 -webkit-box-shadow:4px 4px 4px #888;
		 box-shadow:4px 4px 4px #888;}
		
table.shadow{
-moz-box-shadow:2px 2px 2px #888;
		 -webkit-box-shadow:4px 4px 4px #888;
		 box-shadow:4px 4px 4px #888;}
		 
		 .hellblau{background:#e1e4f2;}
		 .hellgrau{background:#f7f7f7;}
		 
		 
div.eventdescription {
    clear: both;
    padding-bottom: 0px;
	margin-bottom:-20px;
	}
	
.latest_event {
	height:auto;
	padding:10px;
	background-color:#f7f7f7;
	margin-bottom:8px;
	-moz-box-shadow:2px 2px 2px #888;
	-webkit-box-shadow:4px 4px 4px #888;
	box-shadow:4px 4px 4px #888;	
}

.latest_event  a { font-size:1.2em; }

table.wohnformen td:nth-child(1){font-weight:bold;}

.frontpage_container {
padding-bottom:3px;
background:url("../images/blue_dot.png") repeat-x scroll left bottom transparent; 
text-align: center;
}

ul.indent{
margin-left:20px;}

body.contentpane {
    padding: 30px;
}

body.contentpane ul.actions {
	text-align: right;
	list-style: none;
	position: relative;
}



.pane-sliders .title {
  margin: 0;
  padding: 2px;
  color: #666;
  cursor: pointer;
}

.pane-sliders .panel   { }

.pane-sliders .panel h3 { border: 1px solid #ccc; background: #f6f6f6; color: #666;}

.pane-sliders .panel h3 a, .pane-sliders .panel h3 a span {
	color: #666;
}

.pane-sliders .content { background: #f6f6f6; }

.pane-sliders .adminlist     { border: 0 none; }
.pane-sliders .adminlist td  { border: 0 none; }

.pane-toggler  span     { background: transparent url(../images/j_arrow.png) 5px 50% no-repeat; padding-left: 20px;}
.pane-toggler-down span { background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat; padding-left: 20px;}

.pane-toggler-down {  border-bottom: 1px solid #ccc; }

.pane-sliders li {
	font-size:1.0em;}
	
.pane-sliders ul {
	font-size:0.9em;}
	
.pane-sliders .panel h3 {padding:3px;}
	
.pane-sliders .panel .title {font-size: .9em; margin-bottom: 3px;}

.pane-sliders .panel .title a, .pane-sliders .panel .title span {
	font-size: .9em;	
}

.jcalpro_events_link {
	padding-left: 7px;	
}

.pane-sliders .jcalpro_events { margin-bottom: 5px !important; }
	

td.jcalpro_flex_panel_horizontal {
  vertical-align: top;
}



/* ------------
   weblink page
--------------- */
div.weblink-category h1 {
    margin: 0 0 15px 0;
}

div.weblink-category img {
	vertical-align: middle;	
}
 
div.weblink-category form#adminForm fieldset.filters {
    border: 0 none;
    padding: 0;
}
 
div.weblink-category form#adminForm fieldset.filters legend.hidelabeltxt {
    display: none;
}
 
div.weblink-category form#adminForm table.category {
    width: 100%;
}
 
div.weblink-category form#adminForm table.category thead tr th {
    font-size: 13px;
    padding: 0 0 5px 0;
    border-bottom: 1px #999 solid;
    vertical-align: top;
}
 
div.weblink-category form#adminForm table.category tbody tr td {
    padding: 9px 0 10px 0;
    vertical-align: top;
    font-weight: normal !important;
}
 
div.weblink-category form#adminForm table.category tbody tr td.title p a {
    font-size: 12px;
}
 
div.weblink-category form#adminForm table.category tbody tr td p {
    font-size: 10px;
    font-weight: normal !important;
    margin-bottom: 10px;
}
.weblink-category thead th{padding:3px; background-color:#f3f5fd;}
.weblink-category tbody td{padding:5px 0 0 0; border-bottom:1px solid #ccc;}

.jcal_categories {
	width: 100%;	
}

.jcal_category {
	width: 25%;	
	font-size: 9px;	
}	
.jcal_category_title, .jcal_category_color, .jcal_category_title a {
	display: inline !important;
	text-align: left !important;
	float: left !important;
}

#xmap a {
	font-size: 12px;	
}

.jcl_search_form h3 {
	 color: #606F79;
    font-size: 11px !important;
    font-weight: bold !important;	
}

.categories-list .item-title a {
	font-weight: bold;	
}

.dt_detail_block {
	font-size: 12px;	
}

.default .ja-tabs-title-top ul.ja-tabs-title li h3 {
    font-size: 75% !important;
}

.jcl_search_form_search .inputbox {
	position: relative !important;
	top: 0px !important;
}

.jcal_categories {
	padding: 3px 0 !important;
}

.jcl_event_right {
	padding-right: 20px !important;	
}


#jcl_component .jcl_search_form_search .inputbox {
    height: auto !important;
    margin: 0 !important;
    padding: 3px !important;
}

.jflanguageselection {
	text-align: left;
	margin: 0;
	padding: 0;	
}

.jflanguageselection li {
	display: inline;
	margin: 0 15px 0 0;	
}

#jflanguageselection {
	margin: 0;
	padding: 0;	
}

.module_sprache {
	margin-top:4px;	
}

#footer {
	display: none;
}


/* Custom Properties */

div.cp_ce_label{
	color: #888;
}

div.cp_result{
	border:0;
	border-top : 1px dotted silver;
	padding : 8px 0;
}
div.cp_result + div.cp_result {
	padding-left:4px;
}
div.cp_title{
	font-size : 120%;
	font-weight: bold;
}
div.cp_title a,
div.cp_tags a{
	text-decoration : none;
}
div.cp_title a:hover{
	text-decoration : underline;
}
div.cp_image{
	float : left;
	margin : 0 4px 4px 0;
	clear:left;
}
div.cp_tags{
	font-size : 94%;
	clear : both;
}
div.cp_tags .cp_tag{
	padding : 0 .25em;
}
div.cp_tags .cp_tag a{
	padding : 2px;
}
div.cp_tags a:hover{
	background : #CCC;
}
div.cp_tags span.cp_tag+span.cp_tag{
	border-left : 1px solid silver;
}

/* Frontend tagging */
div.header{
	padding : 10px;
	font-size : 22px;
	color : #0b55c4;
}
div.cp_info{
	padding : 5px 10px;
	font-size : 12px;
}
div.cp_navbar{
	margin : 4px 0;
	background :#CCC;
	padding : 4px 10px;
}
div#cp_add_tag div.cp_field{
	float : left;
	border : 1px solid #888;
	padding : 2px;
	margin : 4px;
	font-size : 11px;
}
div#cp_add_tag div.cp_field_label{
	font-weight : bold;
	color : white;
	background : #800;
	margin : 0 0 2px;
	padding :4px;
}
div.cp_clear{
	clear : both;
}

div#cp_add_tag div.cp_fields {
	width: 100%;
	clear:both;	
}
div#cp_add_tag div.cp_fields div.cp_field{
	width: 22%;
}

div#cp_add_tag form div.cp_fields div.cp_field select{
	width: 100%;	
}
div#cp_add_tag form div.cp_fields div.cp_field label{
	padding-left: .5em;	
}

div#cp_add_tag ul{
	padding: 0;	
	margin : 0;
}
div#cp_add_tag li.search-choice{
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 19px 3px 6px;	
}

/* uncomment the following statemens to get nicely formatted groupd tags 

span.cp_tag_label{
	display: none;	
}

div.cp_tags span.cp_tag+span.cp_tag{
	border: 0;
}
div.cp_tag_field {
	/* here you can format a group of tags 
}
*/

*:after, *:before {
    box-sizing: border-box;
}
.cp-tag {
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.cp-tag a {
	color: white;
}

.cp-tag a:hover {
	color: black;
}

.category-desc .Kasten {
	box-shadow: none;
}


#bottom2 {
	background-color: #f8f8f8;
	position: fixed;
	bottom: 50px;
}

.kontakt {
    color: #456896;
    text-align: center;
}



@media (max-width: 768px) {

.kontakt .footer-schmal { width: 33%; }
.kontakt .footer-schmal.f-book { margin: 40px auto 0 auto; display:block; }

#footer1 {
		display: none;
	}
	.wrapper {
		margin-bottom: 0;
	}
#bottom2 {
	bottom: 0px;
	position: relative;	
}

}

.modal {
	position: static;
}

@media (max-width: 992px) {
	
	#ahgallery {
		width: auto !important;
		max-width: 600px;
	}  
	.sidebar-nav {
		display: none !important;
	}
	
}

#searchForm label {
	padding-left: 20px;
}

.mm-panel .nav.menu.navbar-nav.mm-list {
	display: block;
	width: 110%;
}

.mm-panel .nav.menu.navbar-nav.mm-list>li {
	display: block;
	clear:both;
	width: 100%;
}


.mm-panel .nav.menu.navbar-nav.mm-list>li>a {
	display: block;
}
